{% extends 'base.html' %}
{% load static %}
<!-- {% load crispy_forms_tags %}
{% load widget_tweaks %} -->

{% block content %}

<div class="main">
    <div class="wrap">
   <div class="content">
      <div class="content_top">
           <div class="heading">
           <h3 align="center">VJ.EMMY MOVIES</h3>
           </div>
      </div>
      
        <div class="section group">
                {% for vj_emmy_filter in vj_emmy_filter reversed %}
                 <div class="grid_1_of_5 images_1_of_5">
                   <a href="{% url 'mov_detail' vj_emmy_filter.id %}"><img src="{{ vj_emmy_filter.movie_image.url }}" alt=""  width="100px" height="100px"/></a>
                   <h2 class="test4"><a href="{% url 'mov_detail' vj_emmy_filter.id %}">{{vj_emmy_filter.movie_title}}</a></h2>
                      <div class="price-details">
                        <div class="price-number">
                                <p><span class="rupees">FREE</span></p>
                          </div>
                                       <div class="add-cart">								
                                            <h4><a href="{% url 'mov_detail' vj_emmy_filter.id %}">{{vj_emmy_filter.movie_VJ}}</a></h4>
                                     </div>
                                 <div class="clear"></div>
                      </div>					 
                 </div>
                 {% endfor %}
        </div>
       
   </div>
   </div>

</div>

{% endblock content %}
